# Ignore Gradle project-specific cache directory
.gradle
gradle.properties
gradle.properties.backup

# Ignore Gradle build output directory
build
.idea

.kotlin/sessions/*.salive
.DS_Store
*.sarif
.kotlin

